<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"> <!--User can't close window outside it-->
    Add new Book
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-cenered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              {{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-book [dep]=dep
              *ngIf="ActivateAddEditDepComp">
            </app-add-edit-book>
        </div>
      </div>
    </div>
  </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th> No </th>
            <th> EmployeerName </th>
            <th> EmployeeName </th>
            <th> Project </th>
            <th> Date </th>
            <th> Spent </th>
            <th> VAT </th>
            <th> Total </th>
            <th> Comment </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bookItem of bookList">
            <td>{{bookItem.No}}</td>
            <td>{{bookItem.EmployeerName}}</td>
            <td>{{bookItem.EmployeeName}}</td>
            <td>{{bookItem.Project}}</td>
            <td>{{bookItem.Date}}</td>
            <td>{{bookItem.Spent}}</td>
            <td>{{bookItem.VAT}}</td>
            <td>{{bookItem.Total}}</td>
            <td>{{bookItem.Comment}}</td>
            <button type="button" class="btn btn-warning mr-1"
            data-toggle="modal" data-target="#exampleModal"
            (click)="editClick(bookItem)"
            data-backdrop="static" data-keyboard="false">
                Edit
            </button>
            <button type="button" class="btn btn-danger mr-1">
                Delete
            </button>
        </tr>
    </tbody>
</table>