<div class="form-froup row">
    <div class="col-sm-10">
        <b>EmployeerName</b>
        <!--<input type="text" class="form-control" [(ngModel)]="EmployeerName"
        placeholder="Enter Department Name">-->
        <br>
        <select style="color: green; font-weight: bold;" [(ngModel)]="EmployeerName">
            <option *ngFor="let bookItem of bookList">
               <b>{{bookItem.EmployeerName}}</b> 
            </option>
        </select>
        <br>
        <b>EmployeeName</b>
        <br>
        <select style="color: green; font-weight: bold;" [(ngModel)]="EmployeeName">
            <option *ngFor="let bookItem of bookList">
               <b>{{bookItem.EmployeeName}}</b> 
            </option>
        </select>
        <br>
        <!-- <input type="text" class="form-control" [(ngModel)]="EmployeeName"
        placeholder="Enter Department Name">-->
        <b>Project</b>
        <input type="text" class="form-control" [(ngModel)]="Project"
        placeholder="Enter Department Name">
        <b>Date</b>
        <input type="text" class="form-control" [(ngModel)]="Date"
        placeholder="Enter Department Name">
        <b>Spent</b>
        <input type="text" class="form-control" [(ngModel)]="Spent"
        placeholder="Enter Department Name">
        <b>VAT</b>
        <input type="text" class="form-control" [(ngModel)]="VAT"
        placeholder="Enter Department Name">
        <b>Total</b>
        <input type="text" class="form-control" [(ngModel)]="Total"
        placeholder="Enter Department Name">
        <b>Comment</b>
        <input type="text" class="form-control" [(ngModel)]="Comment"
        placeholder="Enter Department Name">
    </div>
</div>

<button (click)="addDepartment()" *ngIf="dep.No==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateDepartment()" *ngIf="dep.No!=0" class="btn btn-primary">
    Update
</button>