<div class="form-froup row">
    <div class="col-sm-10">
        <b>EmployerName</b>
        <br>
        <select class="form-control" [(ngModel)]="EmployerName" (change)="onChangeEvent($event)">
            <option *ngFor="let bookItem of bookList2" [value]="bookItem.EmployerName">
               <b>{{bookItem.EmployerName}}</b> 
            </option>
        </select>
        <br>
        <b>EmployeeName</b>
        <br>
        <select class="form-control"  [(ngModel)]="EmployeeName">
            <option *ngFor="let bookItem of bookList" [value]="bookItem.EmployeeName">
               <b>{{bookItem.EmployeeName}}</b> 
            </option>
        </select>
        <br>
        <b>Project</b>
        <input type="text" class="form-control" [(ngModel)]="Project"
        placeholder="Enter Department Name">
        <b>Date</b>
        <input type="text" class="form-control" [(ngModel)]="Date"
        placeholder="Enter Department Name" [readonly]="true" >
        <b>Spent</b>
        <input type="text" class="form-control" [(ngModel)]="Spent" 
        placeholder="Enter Department Name" (ngModelChange)="modelChanged($event)">
        <b>VAT</b>
        <input type="text" class="form-control" [(ngModel)]="VAT"
        placeholder="Enter Department Name" [readonly]="true">
        <b>Total</b>
        <input type="text" class="form-control" [(ngModel)]="Total"
        placeholder="Enter Department Name" [readonly]="true">
        <b>Comment</b>
        <input type="text" class="form-control" matInput #input maxlength="300" placeholder="Enter some input" [(ngModel)]="Comment">
        <i class="pull-right">{{input.value?.length || 0}}/300</i>
    </div>
</div>

<button (click)="addBook()" *ngIf="dep.No==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateBook()" *ngIf="dep.No!=0" class="btn btn-primary">
    Update
</button>